body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
}

.movie {
  background: #222;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
}
